rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Collection users - accès restreint aux utilisateurs authentifiés
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null; // Les admins peuvent lire tous les users
    }
    
    // Collection agency_commissions - accès restreint aux administrateurs
    match /agency_commissions/{year} {
      allow read, write: if request.auth != null;
    }
  }
}
